.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
  grid-gap: 16px;
  width: 100%;
}

.cards > ul > li {
  border: 1px solid transparent;
  background-color: var(--background-color);
  display: inline-flex;
  flex-direction: column;
}

.cards .cards-card-image {
  line-height: 0;
  text-align: center;
}

.cards .cards-card-body {
  display: flex;
  flex-direction: column;
  margin: 16px;
  text-align: center;
  flex: 1;
  justify-content: center;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
