.inventory-browser {
    padding: 0;
    margin: 0;
}

.inventory-browser .inventory > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    grid-gap: 16px;
    min-height: 20rem;
}

.inventory-browser .inventory > ul > li.inventory-car {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #cecfd1;
    animation: slidein 0.5s forwards;
}

.inventory-browser .inventory .inventory-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-bottom: 1rem;
    border: 2px solid #333;
    border-radius: .25rem;
    transition: border-color 350ms ease-in-out;
}

.inventory-browser .inventory .inventory-search > .icon {
    padding: 1rem;
    cursor: pointer;
    border-left: 2px solid #333;
    transition: border-color 350ms ease-in-out;
}

.inventory-browser .inventory .inventory-search.active,
.inventory-browser .inventory .inventory-search.active > .icon {
    border-color: blue;
}

.inventory-browser .inventory .inventory-search .inventory-search-input {
    height: 1.5rem;
    padding: .75rem 1.25rem;
    font-size: 18px;
    border-radius: .25rem;
    flex-grow: 1;
    outline: none;
    border: none;
}

.inventory-browser .inventory .inventory-car .inventory-car-image {
    position: relative;
}

.inventory-browser .inventory .inventory-car .inventory-car-image .overlay {
    position: absolute;
    inset: 0;
    background-color: unset;
    transition: background-color 350ms ease-in-out;
}

.inventory-browser .inventory .inventory-car .inventory-car-image a {
    --link-hover-bg-height: 0;

    display: inline-flex;
}

.inventory-browser .inventory .inventory-car .inventory-car-image a:hover .overlay {
    background-color: #fff5;
}

.inventory-browser .inventory .inventory-car .inventory-car-body a {
    --link-color: #535353;
    --link-hover-color: #535353;
    --link-hover-bg-height: 2px;
}

.inventory-browser .inventory > ul > li.inventory-car .inventory-car-body {
    padding: 0 1rem 1rem;
    font-size: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.inventory-browser .inventory > ul > li.inventory-car .inventory-car-body .car-price .tbd {
    font-style: italic;
}

.inventory-browser .inventory-car .inventory-car-body .button-group {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.inventory-browser .inventory-car .inventory-car-body .button-group .button {
    margin: .5rem;
}

.inventory-browser .inventory-car .inventory-car-body .car-main-details {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 3px 5px;
    padding: 0;
    margin: 0;
}

.inventory-browser .inventory-car .inventory-car-body .car-main-details > li {
    display: inline-flex;
    align-items: center;
}

.inventory-browser .inventory-car .inventory-car-body .color-preview {
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    border: 1px solid #000;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.inventory-browser .filters-wrapper #open-filter-dialog-btn {
    display: inline-flex;
    align-items: center;
    padding: .5rem 1rem;
}

.inventory-browser .filters-wrapper #filter-dialog {
    display: flex;
    visibility: visible;
    position: fixed;
    inset: 0;
    background-color: #fff;
    z-index: var(--z-index-dialog);
    overflow: auto;
}

.inventory-browser .filters-wrapper #filter-dialog.hidden {
    display: none;
    visibility: hidden;
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.inventory-browser .filters-wrapper #filter-dialog-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
    margin: 0;
    background: unset;
    background-color: unset;
    border: unset;
    color: #000;
}

/* ----- */
.inventory-browser .filters-wrapper #filter-dialog .dialog-content .no-select, 
.inventory-browser .filters-wrapper #filter-dialog .dialog-content h2 {
    -webkit-tap-highlight-color: #000;
    -webkit-touch-callout: none;
    user-select: none;
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content p {
    color: #30455ccc;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul > li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content  ul > li:nth-of-type(1) {
    animation-delay: 0.5s;
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul > li:nth-of-type(2) {
    animation-delay: 0.75s;
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul > li:nth-of-type(3) {
    animation-delay: 1s;
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul > li:last-of-type {
    padding-bottom: 0;
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul > li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul li i::before, 
.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul li i::after {
    content: "";
    position: absolute;
    background-color: #ff6873;
    width: 3px;
    height: 9px;
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul li i::before {
    transform: translate(-2px, 0) rotate(45deg);
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul li i::after {
    transform: translate(2px, 0) rotate(-45deg);
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul > li input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul > li input[type="checkbox"]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul > li input[type="checkbox"]:checked ~ i::before {
    transform: translate(2px, 0) rotate(45deg);
}

.inventory-browser .filters-wrapper #filter-dialog .dialog-content ul > li input[type="checkbox"]:checked ~ i::after {
    transform: translate(-2px, 0) rotate(-45deg);
}

/* ----- */

@keyframes slidein {
    from {
      height: 0;
      transform: scale(0);
      opacity: 0;
    }

    to {
      height:var(--h); /* This will change for each element */
      transform: scale(1);
      opacity: 1;
    }
  }

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }

    5% {
        opacity: 1;
    }

    80% {
        transform: rotateX(8deg);
    }

    83% {
        transform: rotateX(6deg);
    }

    92% {
        transform: rotateX(-3deg);
    }

    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}