/* container */
main .section.car-details-container,
main .section.car-details-container *,
main .section.car-details-container *::before,
main .section.car-details-container *::after {
  box-sizing: border-box;
}

main .section.car-details-container {
  padding: 0;
}

/* wrapper */
.car-details-container .car-details-wrapper {
  max-width: 100%;
}

/* block */
.car-details {
  --icon-size: 36px;
  --secondary-bg-color: #ececec;
  --swiper-pagination-bullet-size: 1.5rem;
}

.car-details ul {
  list-style-type: none;
  padding: unset;
  margin: unset;
}

.car-details ul > li{
  display: inline-flex;
}

.car-details h1 {
  font-size: var(--heading-font-size-l);
}

.car-details h2 {
  font-size: var(--heading-font-size-m);
}

.car-details h1 small {
  font-size: var(--heading-font-size-s);
}

.car-details .car-section-content h2 {
  margin: 0 0 1rem;
}

.car-details .icon {
  min-height: var(--icon-size);
  min-width: var(--icon-size);
  margin-right: 1rem;
}

.car-details .button-group {
  display: flex;
  flex-direction: column;
}

.car-details .button-group .button {
  margin: .5rem;
}

.car-details .car-images {
  min-height: 350px;
}

/* swiper */
.car-details .swiper {
  background-color: var(--secondary-bg-color);
}

.car-details .swiper .swiper-wrapper {
  max-height: 450px;
  display: flex;
  align-items: center;
}

.car-details .swiper .swiper-wrapper .swiper-slide {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.car-details .swiper .swiper-wrapper .swiper-slide img {
  max-height: 100%;
  max-width: 100%;
}

/* grid-layout */
.car-details .car-sections {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
  'header'
  'pricing'
  'details-main'
  'feature-highlights'
  'notes';
  padding: 0;
}

.car-details .car-sections .car-section {
  padding: 0;
  margin: 0;
}

.car-details .car-sections .car-section:nth-child(odd)  {
  background-color: var(--secondary-bg-color);
}

.car-details .car-sections .car-section .car-section-content {
  margin: 0 1rem;
  padding: 2rem 1rem;
}

.car-details #car-header {
  grid-area: header;
}

.car-details #car-header h1 {
  width: 100%;
  margin: auto;
}

.car-details #car-header h1 > small {
  display: block;
}

.car-details #car-pricing {
  grid-area: pricing;
  display: inline-block;
}

.car-details #car-pricing .car-section-content {
  display: flex;
  flex-direction: column;
}

.car-details #car-pricing .car-section-content .button-group {
  margin-bottom: 1rem;
}

.car-details #car-pricing #car-price {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin: 1rem 0;
}

.car-details #car-pricing #car-price .tbd {
  font-style: italic;
}

.car-details #car-details-main {
  grid-area: details-main;
}

.car-details #car-details-main .color-preview {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #000;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.car-details #car-details-main .car-section-content {
  display: flex;
  flex-direction: column;
}

.car-details #car-details-main .car-section-content > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.car-details #car-details-main .car-section-content > ul > li {
  display: inline-flex;
  align-items: center;
  padding: .5rem;
}

.car-details #car-details-main .car-section-content > ul > li:last-child {
  border-bottom: unset;
}

.car-details #car-feature-highlights {
  grid-area: feature-highlights;
}

.car-details #car-feature-highlights .car-section-content {
  display: flex;
  flex-direction: column;
}

.car-details #car-feature-highlights .car-section-content > ul {
  display: grid;
  grid-template-columns: 1fr;
}

/* stylelint-disable-next-line no-descending-specificity */
.car-details #car-feature-highlights .car-section-content > ul > li {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid silver;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.car-details #car-feature-highlights .car-section-content > ul > li:last-child {
  border-bottom: unset;
}

.car-details .car-sections #car-notes {
  grid-area: notes;
  min-height: 50px;
}

@media (width >=600px) {
  .car-details #car-header h1 {
    width: 550px;
    margin: auto;
  }
}

@media (width >=900px) {
  .car-details .car-images {
    min-height: 450px;
  }

  .car-details .car-sections {
    grid-gap: 1rem;
    grid-template-columns: auto 400px;
    grid-template-areas:
    'header header'
    'details-main pricing'
    'feature-highlights pricing'
    'notes notes';
    padding: 0;
  }

  .car-details #car-header h1 {
    width: 850px;
    margin: auto;
  }

  .car-details .car-sections .car-section .car-section-content {
    max-width: 1200px;
    margin: auto;
  }

  .car-details #car-feature-highlights .car-section-content > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .car-details #car-feature-highlights .car-section-content > ul > li:nth-child(odd) {
    margin-right: 1rem;
  }
  
  .car-details #car-feature-highlights .car-section-content > ul > li:nth-child(even) {
    margin-left: 1rem;
  }

  .car-details #car-feature-highlights .car-section-content > ul > li:nth-last-child(-n+2) {
    border-bottom: unset;
  }

  .car-details #car-pricing .car-section-content {
    max-width: 350px;
    margin: auto;
    position: sticky;
    top: 8rem;
    border: 2px solid silver;
    border-radius: 2px;
    box-shadow: 0 2px 5px #0000002d;
  }

  .car-details #car-details-main {
    background-color: unset;
  }
}

@media (width >=1200px) {
  .car-details #car-header h1 {
    width: 1150px;
    margin: auto;
  }
}