@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');

.multi-view-slider .swiper-slide {
    text-align: center;
}

.multi-view-slider .swiper-slide {
    width: 100%;
}

@media (width >=600px) {
    .multi-view-slider .swiper-slide {
        width: 50%;
    }
}

@media (width >=900px) {
    .multi-view-slider .swiper-slide {
        width: 33%;
    }
}

@media (width >= 1200px) {
    .multi-view-slider .swiper-slide {
        width: 20%;
    }
}