.opening-hours-container a {
    white-space: nowrap;
}

.opening-hours {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 2px 30px;
    grid-auto-flow: row;
    justify-content: space-between; 

}

.opening-hours .active {
    font-weight: 600;
}