/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* links */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --link-hover-bg-height: 1px;

  /* colors */
  --background-color: #fff;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: #000;

  /* highlight */
  --highlight-color: #ffe872;
  --highlight-font-weight: 600;

  /* fonts */;
  --body-font-family: "DDC Heading Font Face", "univers", "helveticanNeue", "helvetica", "arial", sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
  --nav-contact-height: 2.2rem;

  /* buttons */
  --btn-border-width: 1px;
  --btn-border-style: solid;
  --btn-border-radius: 0;
  --btn-color: #fff;
  --btn-bg-color: #004582;
  --btn-border-color: #004582;
  --btn-hover-color: #fff;
  --btn-hover-bg-color: #003a71;
  --btn-hover-border-color: #003a71;
  
  /* primary button */
  --btn-primary-color: #fff;
  --btn-primary-bg-color: #004582;
  --btn-primary-border-color: #004582;
  --btn-primary-hover-color: #fff;
  --btn-primary-hover-bg-color: #003a71;
  --btn-primary-hover-border-color: #003a71;
  
  /* secondary button */
  --btn-secondary-color: #004582;
  --btn-secondary-bg-color: #fff;
  --btn-secondary-border-color: #fff;
  --btn-secondary-hover-color: #004582;
  --btn-secondary-hover-bg-color: #ebf0f5;
  --btn-secondary-hover-border-color: #ebf0f5;

  /* icons */
  --icon-size: 24px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >=900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-xl)
}

h3 {
  font-size: var(--heading-font-size-l)
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a {
  color: var(--link-color);
  position: relative;
  background: linear-gradient(0deg, var(--link-hover-color), var(--link-hover-color)) no-repeat right bottom / 0 var(--link-hover-bg-height);
  transition: background-size 350ms;
}

a:where(:hover, :focus-visible) {
  background-size: 100% var(--link-hover-bg-height);
  background-position-x: left;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
  white-space: nowrap;
}

/* buttons */
a.button:any-link,
button {
  --link-hover-bg-height: 0px;

  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  color: var(--btn-color);
  background-color: var(--btn-bg-color);
  border: var(--btn-border-width, 1px) var(--btn-border-style, solid) var(--btn-border-color);
  border-radius: var(--btn-border-radius, 3);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .2s cubic-bezier(.4, 0, .2, 1),
    color .2s cubic-bezier(.4, 0, .2, 1),
    border-color .2s cubic-bezier(.4, 0, .2, 1);
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg-color);
  border-color: var(--btn-hover-border-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.primary,
button.primary {
  font-weight: 700;
  color: var(--btn-primary-color);
  border-color: var(--btn-primary-border-color);
  background-color: var(--btn-primary-bg-color);
}

a.button.primary:hover,
button.primary:hover {
  color: var(--btn-primary-hover-color);
  background-color: var(--btn-primary-hover-bg-color);
  border-color: var(--btn-primary-hover-border-color);
}

a.button.secondary,
button.secondary {
  color: var(--btn-secondary-color);
  border-color: var(--btn-secondary-border-color);
  background-color: var(--btn-secondary-bg-color);
}

a.button.secondary:hover,
button.secondary:hover {
  color: var(--btn-secondary-hover-color);
  background-color: var(--btn-secondary-hover-bg-color);
  border-color: var(--btn-secondary-hover-border-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: var(--icon-size);
  width: var(--icon-size);
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 1rem;
}

@media (width >=600px) {
  main .section {
    padding: 64px 32px;
  }

  header {
    height: calc(var(--nav-height) + var(--nav-contact-height));
  }
}

@media (width >=900px) {
  .section>div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}